<h1 class="page-header">Welcome in the League App</h1>

<h3>Leagues: </h3>

<ul class="list-group league-index-table">
	<% @leagues.each do |league| %>
		<li class="list-group-item">
			<%= link_to league.league_name, league_path(league) %>
			<%= link_to league, { method: :delete, data: { confirm: "Are you sure?" }} do %>
				<span class="glyphicon glyphicon-remove"></span>
			<% end %>
		</li>
	<% end %>
</ul>
<%= link_to 'New league', new_league_path, class: "btn btn-success btn-new-league" %>
