<h1 class="page-header">Welcome in the League App</h1>

<h3>Leagues: </h3>

<ul class="list-group" style="width: 20%; margin-left: auto; margin-right: auto;">
	<% @leagues.each do |league| %>
		<li class="list-group-item"><%= link_to league.league_name, league_path(league) %></li>
	<% end %>
</ul>

<%= link_to 'New league', new_league_path, class: "btn btn-default" %>