/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
margin: 0;
}

html, body {
	height: 95%;
}

.wrapper {

	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;

}

.league-table {
	margin-left: auto !important;
    margin-right: auto !important;
	td {
		border: 1px solid black;
  		float: none !important;
	}
	th {
		text-align: center !important;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.week {
	color: darken(red, 10%);
}

.score_place {
	display: inline !important;
}

.footer, .push {
height: 4em;
}

.messages {
  
  padding-top: 80px;
}

@media screen and (max-width: 700px) {
  body {
  	height: auto;
  	.footer {
    	display: none;
  	}
  	.league-index-table {
  		width: 80%;
  		margin-left: auto;
  		margin-right: auto;
  	}
  	.btn-new-league {
  		width: 45%;
  	}
  	.score_place {
  		width: 20%;
  	}
  	h5 {
  		font-size: 150%;
  	}
  	h4 {
  		font-size: 150%;
  	}
  	.form-new-group-up { 	 
	  	 input {
	  	 	margin-left: auto;
	  	 	margin-right: auto;
	  	 	width: 40% !important;
	  	 }
	  	 .btn-change {
	  	 	width: 40% !important;
	  	 }
 	 }
 	 .form-new-group-down {
 	 	input {
	  	 	margin-left: auto;
	  	 	margin-right: auto;
	  	 	width: 60% !important;
	  	 }
 	 }

   .home-mobile {
    font-size: 150%;
    margin: 10px;
    text-align: left;
   }

   .header-edit {
      display: none;
   
    }

    .navbar-margin {
      padding-bottom: 100px;
    }

    .drop-mobile {
      width: 20%;
    }


    .navbar-mobile {
      height: 100px;
    }

    .nav-right-edit {
      
      // position: absolute;
      float: right;
      position: fixed;
      right: 30px;
      bottom: 15px;
    }

    .link-logout {
      bottom: 38px;
    }

    .toggle-edit {
      border: 1px solid darken(white, 20%) !important; 
      background: darken(white, 10%) !important;
    }
  
  }
  
}

@media screen and (min-width: 700px) {
  .league-index-table {
  	width: 20%;
  	margin-left: auto;
  	margin-right: auto;
  }
  .btn-new-league {
  	width: 7%;
  }
  .score_place {
  	width: 3.5%;
  }
  .form-new-group-down {
  	 width: 20%;
  	 margin-left: auto;
  	 margin-right: auto;
  }
  .home-mobile {
    display: none;
  }

  .navbar-margin {
    margin-bottom: 50px;
  }



}

  .hamburger-menu {
    width: 30px;
    height: 25px;
    padding-bottom: 5px;
  }
